<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Language="zh_CN" 
      AjaxTimeout="120" 
      EnableAjax="true" 
      Theme="Neptune" 
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      IconBasePath="~/res/icon" 
      EnableAjaxLoading="true" 
      AjaxLoadingType="default" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/theme" 
  -->
  <FineUI DebugMode="false" />
  <appSettings />
  <connectionStrings />
  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
      </controls>
    </pages>
    <!--<httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </httpModules>-->
    <!--<httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false" />
    </httpHandlers>-->

    <httpRuntime maxRequestLength="102400 " />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/frmLogin.aspx" timeout="120" defaultUrl="~/main.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    
  </system.web>
  
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--IIS7集成管道模式-->
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI"/>
    </handlers>
  </system.webServer>
  
</configuration>